SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_USER_LOGIN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TBL_USER_LOGIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN_NAME] [varchar](50) NOT NULL,
	[LOGIN_PASSWORD] [varchar](50) NOT NULL,
	[USERID] [int] NOT NULL,
	[IS_ADMIN] [bit] NOT NULL CONSTRAINT [DF_TBL_USER_LOGIN_IS_ADMIN]  DEFAULT ((0)),
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL,
	[LASTCHANGEUSER] [varchar](50) NOT NULL,
	[CREATIONDATETIMEUTC] [datetime] NOT NULL,
	[CREATIONUSER] [varchar](50) NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_TBL_USER_LOGIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_USER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TBL_USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [varchar](50) NOT NULL,
	[LASTNAME] [varchar](50) NOT NULL,
	[AGE] [int] NOT NULL,
	[GENDER] [tinyint] NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL,
	[LASTCHANGEUSER] [varchar](50) NOT NULL,
	[CREATIONDATETIMEUTC] [datetime] NOT NULL,
	[CREATIONUSER] [varchar](50) NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_TBL_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_CUSTOMER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TBL_CUSTOMER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [varchar](100) NOT NULL,
	[LASTNAME] [varchar](100) NULL,
	[MIDDLENAME] [nchar](4) NULL,
	[GENDER] [int] NOT NULL,
	[DOB] [datetime] NULL,
	[EMAIL] [varchar](50) NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL,
	[LASTCHANGEUSER] [varchar](50) NOT NULL,
	[CREATIONDATETIMEUTC] [datetime] NOT NULL,
	[CREATIONUSER] [varchar](50) NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_TBL_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_REMINDER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TBL_REMINDER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[REMINDER_NAME] [varchar](150) NULL,
	[REMINDER_DATE] [datetime] NOT NULL,
	[REMINDER_TYPE] [int] NOT NULL,
	[REMINDER_MESSAGE] [varchar](max) NOT NULL,
	[STATUS] [int] NOT NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL CONSTRAINT [DF_TBL_REMINDER_LASTCHANGEDATETIMEUTC]  DEFAULT (getdate()),
	[LASTCHANGEUSER] [nvarchar](50) NOT NULL CONSTRAINT [DF_TBL_REMINDER_LASTCHANGEUSER]  DEFAULT (N'ADMIN'),
	[CREATIONDATETIMEUTC] [datetime] NOT NULL CONSTRAINT [DF_TBL_REMINDER_CREATIONDATETIMEUTC]  DEFAULT (getdate()),
	[CREATIONUSER] [nvarchar](50) NOT NULL CONSTRAINT [DF_TBL_REMINDER_CREATIONUSER]  DEFAULT (N'ADMIN'),
 CONSTRAINT [PK_TBL_REMINDER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_CUSTOMER_ADDRESS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TBL_CUSTOMER_ADDRESS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADDRESS] [varchar](200) NOT NULL,
	[ADDRESS1] [varchar](200) NULL,
	[CITY] [varchar](20) NOT NULL,
	[OTHER_CITY] [varchar](100) NULL,
	[STATE] [varchar](20) NOT NULL,
	[COUNTRY] [varchar](20) NOT NULL,
	[ZIPCODE] [int] NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL,
	[LASTCHANGEUSER] [varchar](50) NOT NULL,
	[CREATIONDATETIMEUTC] [datetime] NOT NULL,
	[CREATIONUSER] [varchar](50) NOT NULL,
	[STATUS] [int] NOT NULL,
	[ISPRIMARY] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_CALLREGISTRY]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TBL_CALLREGISTRY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[CUSTOMER_ID] [int] NULL,
	[CALLTIME] [datetime] NULL,
	[CALLDATE] [datetime] NOT NULL,
	[CALLER_CONTACT_NUMBER] [varchar](20) NULL,
	[COMMENT] [varchar](max) NULL,
	[STATUS] [int] NOT NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL CONSTRAINT [DF_TBL_CALLREGISTRY_LASTCHANGEDATETIMEUTC]  DEFAULT (getdate()),
	[LASTCHANGEUSER] [nvarchar](50) NOT NULL CONSTRAINT [DF_TBL_CALLREGISTRY_LASTCHANGEUSER]  DEFAULT (N'ADMIN'),
	[CREATIONDATETIMEUTC] [datetime] NOT NULL CONSTRAINT [DF_TBL_CALLREGISTRY_CREATIONDATETIMEUTC]  DEFAULT (getdate()),
	[CREATIONUSER] [nvarchar](50) NOT NULL CONSTRAINT [DF_TBL_CALLREGISTRY_CREATIONUSER]  DEFAULT (N'ADMIN'),
 CONSTRAINT [PK_TBL_CALLREGISTRY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_CUSTOMER_HEARING_AID_ORDER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TBL_CUSTOMER_HEARING_AID_ORDER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[ORDER_DATE] [datetime] NOT NULL CONSTRAINT [DF_TBL_CUSTOMER_ORDER_RECEIVED_DATE]  DEFAULT (getdate()),
	[COMPANY] [int] NOT NULL,
	[EAR_SIDE] [int] NOT NULL CONSTRAINT [DF_TBL_CUSTOMER_HEARING_AID_ORDER_EAR_SIDE]  DEFAULT ((0)),
	[HI_MODEL_R] [varchar](200) NULL,
	[HI_MODEL_L] [varchar](200) NULL,
	[SERIAL_NUMBER_R] [varchar](200) NULL,
	[SERIAL_NUMBER_L] [varchar](200) NULL,
	[HEARING_AID_TYPE] [int] NOT NULL,
	[BATTERY_SIZE] [int] NULL,
	[COMMENT] [varchar](400) NULL,
	[AMOUNT] [decimal](18, 0) NULL,
	[ADV_AMT_RECEIVED] [decimal](18, 0) NULL CONSTRAINT [DF_TBL_CUSTOMER_ORDER_ADV_AMT_RECEIVED]  DEFAULT ((0)),
	[ORDER_STATUS] [int] NULL,
	[INFORMEDDATETIME] [datetime] NULL CONSTRAINT [DF_TBL_CUSTOMER_HEARING_AID_ORDER_INFORMEDDATETIME]  DEFAULT (getdate()),
	[RECEIVEDDATETIME] [datetime] NULL CONSTRAINT [DF_TBL_CUSTOMER_HEARING_AID_ORDER_RECEIVEDDATETIME]  DEFAULT (getdate()),
	[DELIVEREDDATETIME] [datetime] NULL CONSTRAINT [DF_TBL_CUSTOMER_HEARING_AID_ORDER_DELIVEREDDATETIME]  DEFAULT (getdate()),
	[WARRANTY_CARD_GIVEN] [int] NULL,
	[STATUS] [int] NOT NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL CONSTRAINT [DF_TBL_CUSTOMER_ORDER_LASTCHANGEDATETIMEUTC]  DEFAULT (getdate()),
	[LASTCHANGEUSER] [nvarchar](50) NOT NULL CONSTRAINT [DF_TBL_CUSTOMER_ORDER_LASTCHANGEUSER]  DEFAULT (N'ADMIN'),
	[CREATIONDATETIMEUTC] [datetime] NOT NULL CONSTRAINT [DF_TBL_CUSTOMER_ORDER_CREATIONDATETIMEUTC]  DEFAULT (getdate()),
	[CREATIONUSER] [nvarchar](50) NOT NULL CONSTRAINT [DF_TBL_CUSTOMER_ORDER_CREATIONUSER]  DEFAULT (N'ADMIN'),
 CONSTRAINT [PK_TBL_CUSTOMER_ORDER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_APPOINTMENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TBL_APPOINTMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[CUSTOMER_ID] [int] NULL,
	[APPOINTMENTTYPE] [varchar](800) NOT NULL,
	[APPOINTMENTDATE] [datetime] NOT NULL,
	[APPOINTMENTTIME] [datetime] NOT NULL,
	[CONTACTNUMBER] [varchar](20) NULL,
	[COMMENTS] [varchar](1000) NULL,
	[STATUS] [int] NOT NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL CONSTRAINT [DF_TBL_APPOINTMENT_LASTCHANGEDATETIMEUTC]  DEFAULT (getdate()),
	[LASTCHANGEUSER] [nvarchar](50) NOT NULL CONSTRAINT [DF_TBL_APPOINTMENT_LASTCHANGEUSER]  DEFAULT (N'ADMIN'),
	[CREATIONDATETIMEUTC] [datetime] NOT NULL CONSTRAINT [DF_TBL_APPOINTMENT_CREATIONDATETIMEUTC]  DEFAULT (getdate()),
	[CREATIONUSER] [nvarchar](50) NOT NULL CONSTRAINT [DF_TBL_APPOINTMENT_CREATIONUSER]  DEFAULT (N'ADMIN'),
 CONSTRAINT [PK_TBL_APPOINTMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_CUSTOMER_WARRANTY_INFORMED]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TBL_CUSTOMER_WARRANTY_INFORMED](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[INFORMED_DATE] [datetime] NOT NULL,
	[INFORMED_MESSAGE] [varchar](max) NOT NULL,
	[STATUS] [int] NOT NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL CONSTRAINT [DF_TBL_CUSTOMER_WARRANTY_INFORMED_LASTCHANGEDATETIMEUTC]  DEFAULT (getdate()),
	[LASTCHANGEUSER] [nvarchar](50) NOT NULL CONSTRAINT [DF_TBL_CUSTOMER_WARRANTY_INFORMED_LASTCHANGEUSER]  DEFAULT (N'ADMIN'),
	[CREATIONDATETIMEUTC] [datetime] NOT NULL CONSTRAINT [DF_TBL_CUSTOMER_WARRANTY_INFORMED_CREATIONDATETIMEUTC]  DEFAULT (getdate()),
	[CREATIONUSER] [nvarchar](50) NOT NULL CONSTRAINT [DF_TBL_CUSTOMER_WARRANTY_INFORMED_CREATIONUSER]  DEFAULT (N'ADMIN'),
 CONSTRAINT [PK_TBL_CUSTOMER_WARRANTY_INFORMED] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_CUSTOMER_PHONE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TBL_CUSTOMER_PHONE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PHONE_TYPE] [int] NOT NULL,
	[PHONE_NUMBER] [varchar](15) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[CONTACT_RELATIONSHIP] [int] NULL,
	[CONTACT_RELATIONSHIP_OTHER] [varchar](50) NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL,
	[LASTCHANGEUSER] [varchar](50) NOT NULL,
	[CREATIONDATETIMEUTC] [datetime] NOT NULL,
	[CREATIONUSER] [varchar](50) NOT NULL,
	[STATUS] [int] NOT NULL,
	[ISPRIMARY] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_PHONE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_CUSTOMER_REPAIR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TBL_CUSTOMER_REPAIR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[RECEIVED_DATE] [datetime] NOT NULL CONSTRAINT [DF_TBL_CUSTOMER_REPAIR_RECEIVED_DATE]  DEFAULT (getdate()),
	[COMPANY] [int] NOT NULL,
	[MODEL_LEFT] [nvarchar](200) NULL,
	[MODEL_RIGHT] [nvarchar](200) NULL,
	[IS_SL_NO_REVISED] [bit] NOT NULL,
	[NEW_SERIAL_NUMB_LEFT] [nvarchar](150) NULL,
	[NEW_SERIAL_NUMB_RIGHT] [nvarchar](150) NULL,
	[SERIAL_NUMB_LEFT] [nvarchar](150) NULL,
	[SERIAL_NUMB_RIGHT] [nvarchar](150) NULL,
	[WARRANTY_TYPE] [int] NOT NULL,
	[HEARING_AID_TYPE] [int] NOT NULL,
	[ACCESSORIES_RECEIVED] [nvarchar](200) NULL CONSTRAINT [DF_TBL_CUSTOMER_REPAIR_ACCESSORIES_RECEIVED]  DEFAULT (N'nil'),
	[SPARE_AID_GIVEN] [int] NOT NULL,
	[SPARE_AID_DETAILS] [varchar](1000) NULL,
	[CUSTOMER_APPROVAL_ESTIMATE_AMT] [int] NULL,
	[AMOUNT] [decimal](18, 0) NULL,
	[ADV_AMT_RECEIVED] [decimal](18, 0) NULL CONSTRAINT [DF_TBL_CUSTOMER_REPAIR_ADV_AMT_RECEIVED]  DEFAULT ((0)),
	[COMPLAINT_DESC] [varchar](250) NULL,
	[HEARINGAID_CONDITION] [varchar](500) NULL,
	[MOLDREPAIR] [int] NULL,
	[DUEDATE] [varchar](500) NULL,
	[REPAIR_AMT_LESS_THAN] [decimal](18, 0) NULL,
	[REPAIR_STATUS] [int] NULL,
	[DISPATCHED_TO_COMPANY] [datetime] NULL,
	[COMPANY_RECEIVED_DATE] [datetime] NULL,
	[COMPANY_DISPATCHED_DATE] [datetime] NULL,
	[VH_RECEIVED_DATE] [datetime] NULL,
	[DELIVERED_TO_CUSTOMER_DATE] [datetime] NULL,
	[IS_SPARE_AID_RECEIVED] [bit] NULL,
	[INFORMEDDATETIME] [datetime] NULL CONSTRAINT [DF_TBL_CUSTOMER_REPAIR_INFORMEDDATETIME]  DEFAULT (getdate()),
	[ADDITIONAL_COMMENT] [varchar](500) NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL,
	[LASTCHANGEUSER] [varchar](50) NOT NULL,
	[CREATIONDATETIMEUTC] [datetime] NOT NULL,
	[CREATIONUSER] [varchar](50) NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_TBL_CUSTOMER_REPAIR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_CUSTOMER_EAR_MOLD_ORDER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TBL_CUSTOMER_EAR_MOLD_ORDER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[HEARING_AID_ORDER_ID] [int] NULL,
	[COMPANY] [int] NOT NULL CONSTRAINT [DF_TBL_CUSTOMER_EAR_MOLD_ORDER_COMPANY]  DEFAULT ((0)),
	[ORDER_DATE] [datetime] NOT NULL CONSTRAINT [DF_TBL_CUSTOMER_EAR_MOLD_ORDER_ORDER_DATE]  DEFAULT (getdate()),
	[EAR_SIDE] [int] NOT NULL,
	[HI_MODEL_R] [varchar](200) NULL,
	[HI_MODEL_L] [varchar](200) NULL,
	[EAR_MOLD_TYPE] [int] NOT NULL,
	[EAR_MOLD_AID_TYPE] [int] NOT NULL,
	[EAR_MOLD_DESIGN] [int] NOT NULL,
	[SOFT_MOLD_TUBING_TYPE] [int] NULL,
	[VENT_SIZE] [int] NULL,
	[VENT_TYPE] [int] NULL,
	[VENT_LENGTH] [int] NULL,
	[COMMENT] [varchar](400) NULL,
	[MOLD_AMOUNT] [decimal](18, 0) NULL,
	[ADV_AMT_RECEIVED] [decimal](18, 0) NULL CONSTRAINT [DF_TBL_CUSTOMER_EAR_MOLD_ORDER_ADV_AMT_RECEIVED]  DEFAULT ((0)),
	[ORDER_STATUS] [int] NULL,
	[INFORMEDDATETIME] [datetime] NULL CONSTRAINT [DF_TBL_CUSTOMER_EAR_MOLD_ORDER_LASTCHANGEDATETIMEUTC1]  DEFAULT (getdate()),
	[RECEIVEDDATETIME] [datetime] NULL CONSTRAINT [DF_TBL_CUSTOMER_EAR_MOLD_ORDER_DELIVEREDDATETIME1]  DEFAULT (getdate()),
	[DELIVEREDDATETIME] [datetime] NULL CONSTRAINT [DF_TBL_CUSTOMER_EAR_MOLD_ORDER_INFORMEDDATETIME1]  DEFAULT (getdate()),
	[STATUS] [int] NOT NULL,
	[LASTCHANGEDATETIMEUTC] [datetime] NOT NULL CONSTRAINT [DF_TBL_CUSTOMER_EAR_MOLD_ORDER_LASTCHANGEDATETIMEUTC]  DEFAULT (getdate()),
	[LASTCHANGEUSER] [nvarchar](50) NOT NULL CONSTRAINT [DF_TBL_CUSTOMER_EAR_MOLD_ORDER_LASTCHANGEUSER]  DEFAULT (N'ADMIN'),
	[CREATIONDATETIMEUTC] [datetime] NOT NULL CONSTRAINT [DF_TBL_CUSTOMER_EAR_MOLD_ORDER_CREATIONDATETIMEUTC]  DEFAULT (getdate()),
	[CREATIONUSER] [nvarchar](50) NOT NULL CONSTRAINT [DF_TBL_CUSTOMER_EAR_MOLD_ORDER_CREATIONUSER]  DEFAULT (N'ADMIN'),
 CONSTRAINT [PK_TBL_CUSTOMER_EAR_MOLD_ORDER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TBL_CUSTOMER__TBL_ADDRESS_CUSTOMER_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[TBL_CUSTOMER_ADDRESS]'))
ALTER TABLE [dbo].[TBL_CUSTOMER_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CUSTOMER__TBL_ADDRESS_CUSTOMER_ID] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[TBL_CUSTOMER] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TBL_CALLLOG_TBL_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[TBL_CALLREGISTRY]'))
ALTER TABLE [dbo].[TBL_CALLREGISTRY]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CALLLOG_TBL_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[TBL_CUSTOMER] ([ID])
ON UPDATE SET DEFAULT
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TBL_CUSTOMER_HEARING_AID_ORDER_TBL_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[TBL_CUSTOMER_HEARING_AID_ORDER]'))
ALTER TABLE [dbo].[TBL_CUSTOMER_HEARING_AID_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CUSTOMER_HEARING_AID_ORDER_TBL_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[TBL_CUSTOMER] ([ID])
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TBL_APPOINTMENT_TBL_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[TBL_APPOINTMENT]'))
ALTER TABLE [dbo].[TBL_APPOINTMENT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_APPOINTMENT_TBL_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[TBL_CUSTOMER] ([ID])
ON DELETE SET DEFAULT
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TBL_CUSTOMER_WARRANTY_INFORMED_TBL_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[TBL_CUSTOMER_WARRANTY_INFORMED]'))
ALTER TABLE [dbo].[TBL_CUSTOMER_WARRANTY_INFORMED]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CUSTOMER_WARRANTY_INFORMED_TBL_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[TBL_CUSTOMER] ([ID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TBL_CUSTOMER__TBL_PHONE_CUSTOMER_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[TBL_CUSTOMER_PHONE]'))
ALTER TABLE [dbo].[TBL_CUSTOMER_PHONE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CUSTOMER__TBL_PHONE_CUSTOMER_ID] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[TBL_CUSTOMER] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TBL_CUSTOMER__TBL_CUSTOMER_REPAIR]') AND parent_object_id = OBJECT_ID(N'[dbo].[TBL_CUSTOMER_REPAIR]'))
ALTER TABLE [dbo].[TBL_CUSTOMER_REPAIR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CUSTOMER__TBL_CUSTOMER_REPAIR] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[TBL_CUSTOMER] ([ID])
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TBL_CUSTOMER__TBL_CUSTOMER_EAR_MOLD_ORDER]') AND parent_object_id = OBJECT_ID(N'[dbo].[TBL_CUSTOMER_EAR_MOLD_ORDER]'))
ALTER TABLE [dbo].[TBL_CUSTOMER_EAR_MOLD_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CUSTOMER__TBL_CUSTOMER_EAR_MOLD_ORDER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[TBL_CUSTOMER] ([ID])
ON DELETE CASCADE
