<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LocationCode>wc:22479</LocationCode>
  <RefreshInterval>20</RefreshInterval>
  <TempScale>Celsius</TempScale>
  <ShowFeelsLike>false</ShowFeelsLike>
  <EnableVideoBackground>true</EnableVideoBackground>
</Settings>